.customer-item {
  border-bottom: 1px solid var(--color-secondary);
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: #fff;
  border-radius: 6px;
  margin-bottom: 8px;
  box-shadow: 0 5px 13px rgba(222, 10, 20, 0.03);
}

.customer-item strong {
  font-size: 16px;
}

.customer-item span {
  font-size: 14px;
  color: var(--secondary-color);
}